body {
    font-family: Arial, Helvetica, sans-serif;
}

.inner-container {
    max-width: 64rem; /* 1024px; */
    margin: 0 auto;
}

header {
    background-color: hotpink;
    text-align: center;
}

header a {
    color: #34445e;
    text-decoration: none;
    text-transform: uppercase;
}

header h1 {
    font-size: 1.5rem;
}

.menu-links li {
    line-height: 2.25rem; /* 36px */
}

.menu-links a {
    display: block;
}

.menu-links a:hover,
.menu-links a:active {
    color: chartreuse;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 840px) {
    .menu-links {
        display: flex;
        gap: 1rem;
    }

   .inner-container {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
}


@media screen and (min-width: 940px) {
    main {
        display: flex;
        gap: 2%;
        max-width: 64rem;
        margin: 0 auto;
        padding: 1rem 0.5rem;
    }

    section {
        width: calc(96%/3)
    }
}